<html>
    <head>
    </head>
    <body>
        <h1>Hello Claire!!</h1>

        
        
            
        
        <p>Pausa dramatica pra paragrafo</p>
        <h5>Choose the right one from the list!</h5>
        <ol>
            <li>Bye claire</li>
            <li>Bye claire, Bye claire</li>
            <li>Bye claire, Bye claire, Bye claire</li>
        </ol>
        <img src="https://images.indianexpress.com/2019/05/fleabag-season-2-759.jpeg">

        <h4>BYE CLAIRE..</h4>
    </body>
</html>